body {
    margin:0;   
}
.home {
    min-height: 100vh;
    background: repeating linear gradient(
        90deg,
        #b51f2a 0px,
        #b51f2a 45px,
        #f5eee1 45px,
        #f5eee1 90px
    );
}
